<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body>
<div>Welcome <b th:text="${user.fullName}"></b></div>
<a th:href="@{http://localhost:8080/users/confirm?(token= ${user.confiramtionToken})}">click here....</a>


<div> Your Temp password is <b th:text="${user.password}"></b></div>

</body>
</html>